<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Franklin">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    </head>
    <body>
        {% set menu = [
            ('/weight_goal', 'weight_goal', 'Weight Goal', 'wgCalc'),
            ('/calorie_count', 'calorie_count', 'Calorie Count', 'hsCalc'),
            ('/exercise_count', 'exercise_count', 'Exercise Count', 'bfCalc'),
            ('/diet_exercise_suggestion', 'diet_exercise_suggestion', 'Diet Exercise Suggestion', 'ccCalc'),
            ('/health_monitor', 'health_monitor', 'Health Monitor', 'apCalc')
        ] -%}
        {% set active_page = active_page|default('weight_goal') -%}
        <div class="menu">
            {% for href, id, caption, div_id in menu %}
                <div id={{ div_id }} {% if id == active_page %} class="tabOn" {% else %} class="tabOff" {% endif %}>
                    <a href="{{ href }}">{{ caption }}</a>
                </div>
            {% endfor %}
        </div>
	    <div id="container">
	        <div class="image-holder">
		        <img src="{{ url_for('static', filename='images/fitness.png') }}" />
	        </div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
